{% extends 'base.html' %}


{% block content %}

    <!-- Main Content Block -->
    <main class="container my-5">
<section
  class="hero-section text-center text-white bg-light py-5"
  data-aos="fade-right"
  data-aos-delay="400"
>
  <div class="container overflow-hidden">
    <h1 class="display-4 fw-bold">Big Data</h1>
    <p class="lead text-muted mt-3">
        Enhance your decision-making with a comprehensive approach to big data, integrating advanced data processing, scalable storage, and actionable insights that empower your business strategies.
    </p>
    <a
      href="#"
      class="btn btn-secondary btn-lg mt-3 rounded-pill"
      >Get Started</a
    >
  </div>
</section>

<!-- Service Details -->
<section class="py-5" data-aos="fade-up" data-aos-delay="500">
  <div class="container overflow-hidden">
    <div class="row">
      <div class="col-md-6">
        <h2 class="section-title text-center">What We Offer</h2>
        <p
          class="lead text-muted mx-auto mb-5"
          style="max-width: 700px"
          data-aos="fade-right"
          data-aos-delay="600"
        >
        We provide end-to-end big data solutions, from collecting and processing massive datasets to delivering valuable insights through robust analysis. Our team works alongside you to uncover hidden patterns and trends, utilizing a holistic approach that includes data engineering, processing, and interpretation. Whether you require scalable storage, real-time analytics, or custom data pipelines, we’re committed to empowering your business with data-driven strategies for sustained growth.
        </p>
        <p
          class="lead text-muted mx-auto mb-5"
          style="max-width: 700px"
          data-aos="fade-right"
          data-aos-delay="700"
        >
        Our big data solutions are built to be intuitive, secure, and highly scalable, enabling your data strategies to grow and adapt in line with your business objectives and evolving needs.
        </p>
      </div>
      <div class="col-md-6">
        <img
          src="/static/img/webdev-1.png"
          alt="Web Development"
          class="img-fluid rounded shadow"
          data-aos="fade-left"
          data-aos-delay="600"
        />
      </div>
    </div>
  </div>
</section>

<!-- Features/Benefits Section -->
<section class="py-5">
  <div class="container overflow-hidden">
    <div class="row text-center">
      <div class="col-md-4 mb-4" data-aos="fade-right" data-aos-delay="400">
        <div class="card shadow border-0 h-100 course-card">
          <div class="card-body py-5">
            <h3><i class="fas fa-laptop-code"></i></h3>
            <h4>Big Data Analytics</h4>
            <p>
                We develop scalable and interactive big data visualizations that effortlessly adjust to different platforms, ensuring that valuable insights are easily accessible across all devices and interfaces.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4" data-aos="fade-up" data-aos-delay="500">
        <div class="card shadow border-0 h-100 course-card">
          <div class="card-body py-5">
            <h3><i class="fas fa-cogs"></i></h3>
            <h4>Big Data for Business Intelligence</h4>
            <p>
                From data aggregation to advanced analytics, we specialize in leveraging big data for business intelligence, providing actionable insights that empower data-driven decisions and enhance business performance.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4" data-aos="fade-left" data-aos-delay="600">
        <div class="card shadow border-0 h-100 course-card">
          <div class="card-body py-5">
            <h3><i class="fas fa-cloud"></i></h3>
            <h4>Predictive Analytics with Big Data</h4>
            <p>
                From data processing to forecasting trends, we specialize in utilizing big data for predictive analytics, helping businesses anticipate future outcomes and make proactive, data-driven decisions.


            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Call-to-Action Section -->
<section
  class="hero-section text-center bg-light py-5"
  data-aos="fade-up"
  data-aos-delay="400"
>
  <div class="container text-center overflow-hidden">
    <h2 class="section-title text-center">
      
        Unleash the Potential of Big Data Insights
    </h2>
    <p class="lead text-muted mt-3">
        Harness the power of big data to develop analytics solutions that fuel growth and optimize your business strategies.
    </p>
    <a
      href="#"
      class="btn btn-secondary btn-lg mt-3 rounded-pill"
      data-aos="fade-up"
      data-aos-delay="500"
      >Get Started</a
    >
  </div>
</section>

</main>

  

{%endblock%}