{% extends 'base.html' %}


{% block content %}

    <!-- Main Content Block -->
    <main class="container my-5">
<section
  class="hero-section text-center text-white bg-light py-5"
  data-aos="fade-right"
  data-aos-delay="400"
>
  <div class="container overflow-hidden">
    <h1 class="display-4 fw-bold">Data Visualization</h1>
    <p class="lead text-muted mt-3">
        Enhance your decision-making with impactful data visualization, transforming complex datasets into intuitive, interactive visuals that reveal trends, uncover patterns, and drive actionable insights for your business.
    </p>
    <a
      href="#"
      class="btn btn-secondary btn-lg mt-3 rounded-pill"
      >Get Started</a
    >
  </div>
</section>

<!-- Service Details -->
<section class="py-5" data-aos="fade-up" data-aos-delay="500">
  <div class="container overflow-hidden">
    <div class="row">
      <div class="col-md-6">
        <h2 class="section-title text-center">What We Offer</h2>
        <p
          class="lead text-muted mx-auto mb-5"
          style="max-width: 700px"
          data-aos="fade-right"
          data-aos-delay="600"
        >
        We provide exceptional data visualization services, transforming raw data into intuitive and engaging visuals that reveal actionable insights. Our team partners with you to highlight critical trends and patterns using a holistic approach that blends visual design, storytelling, and data interpretation. Whether you require dynamic dashboards, interactive analytics, or visually compelling reports, we’re dedicated to helping your business excel with clear and effective data representations.
        </p>
        <p
          class="lead text-muted mx-auto mb-5"
          style="max-width: 700px"
          data-aos="fade-right"
          data-aos-delay="700"
        >
        Our data visualization solutions are crafted to be user-friendly, powerful, and scalable, ensuring your visual insights align with your business growth and drive data-focused decision-making.
        </p>
      </div>
      <div class="col-md-6">
        <img
          src="/static/img/webdev-1.png"
          alt="Web Development"
          class="img-fluid rounded shadow"
          data-aos="fade-left"
          data-aos-delay="600"
        />
      </div>
    </div>
  </div>
</section>

<!-- Features/Benefits Section -->
<section class="py-5">
  <div class="container overflow-hidden">
    <div class="row text-center">
      <div class="col-md-4 mb-4" data-aos="fade-right" data-aos-delay="400">
        <div class="card shadow border-0 h-100 course-card">
          <div class="card-body py-5">
            <h3><i class="fas fa-laptop-code"></i></h3>
            <h4>Interactive Dashboards</h4>
            <p>
                We design dynamic, user-friendly dashboards that enable real-time data exploration, helping businesses uncover insights and track performance with ease.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4" data-aos="fade-up" data-aos-delay="500">
        <div class="card shadow border-0 h-100 course-card">
          <div class="card-body py-5">
            <h3><i class="fas fa-cogs"></i></h3>
            <h4>Storytelling with Data</h4>
            <p>
                We craft compelling data narratives using visualizations that highlight key insights, making complex information easier to understand and more impactful for decision-making.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4" data-aos="fade-left" data-aos-delay="600">
        <div class="card shadow border-0 h-100 course-card">
          <div class="card-body py-5">
            <h3><i class="fas fa-cloud"></i></h3>
            <h4>Real-Time Visualization</h4>
            <p>
                We create live data visualizations that update instantly, enabling businesses to monitor performance and make immediate, data-driven decisions.


            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Call-to-Action Section -->
<section
  class="hero-section text-center bg-light py-5"
  data-aos="fade-up"
  data-aos-delay="400"
>
  <div class="container text-center overflow-hidden">
    <h2 class="section-title text-center">
      
        Unlock the Power of Data Visualizations
    </h2>
    <p class="lead text-muted mt-3">
        We specialize in helping you transform your data into powerful visualizations that provide valuable insights and optimize your business strategies.
    </p>
    <a
      href="#"
      class="btn btn-secondary btn-lg mt-3 rounded-pill"
      data-aos="fade-up"
      data-aos-delay="500"
      >Get Started</a
    >
  </div>
</section>

</main>

  

{%endblock%}