{% extends 'base.html' %}


{% block content %}

    <!-- Main Content Block -->
    <main class="container my-5">
<section
  class="hero-section text-center text-white bg-light py-5"
  data-aos="fade-right"
  data-aos-delay="400"
>
  <div class="container overflow-hidden">
    <h1 class="display-4 fw-bold">Data Analysis</h1>
    <p class="lead text-muted mt-3">
        Enhance your decision-making with comprehensive data analysis, turning complex datasets into clear, actionable insights that highlight trends, identify patterns, and support informed business strategies.
    </p>
    <a
      href="#"
      class="btn btn-secondary btn-lg mt-3 rounded-pill"
      >Get Started</a
    >
  </div>
</section>

<!-- Service Details -->
<section class="py-5" data-aos="fade-up" data-aos-delay="500">
  <div class="container overflow-hidden">
    <div class="row">
      <div class="col-md-6">
        <h2 class="section-title text-center">What We Offer</h2>
        <p
          class="lead text-muted mx-auto mb-5"
          style="max-width: 700px"
          data-aos="fade-right"
          data-aos-delay="600"
        >
        We provide exceptional data analysis services, transforming raw data into actionable insights that drive informed decision-making. Our team collaborates with you to identify critical trends and patterns through a comprehensive approach that blends statistical analysis, data interpretation, and business context. Whether you need exploratory analysis, predictive models, or custom reports, we're committed to helping your business thrive with clear and impactful data insights.
        </p>
        <p
          class="lead text-muted mx-auto mb-5"
          style="max-width: 700px"
          data-aos="fade-right"
          data-aos-delay="700"
        >
        Our data analysis solutions are designed to be user-friendly, powerful, and scalable, ensuring your insights align with your business goals and drive data-driven decision-making.
        </p>
      </div>
      <div class="col-md-6">
        <img
          src="/static/img/webdev-1.png"
          alt="Web Development"
          class="img-fluid rounded shadow"
          data-aos="fade-left"
          data-aos-delay="600"
        />
      </div>
    </div>
  </div>
</section>

<!-- Features/Benefits Section -->
<section class="py-5">
  <div class="container overflow-hidden">
    <div class="row text-center">
      <div class="col-md-4 mb-4" data-aos="fade-right" data-aos-delay="400">
        <div class="card shadow border-0 h-100 course-card">
          <div class="card-body py-5">
            <h3><i class="fas fa-laptop-code"></i></h3>
            <h4>Data Cleaning and Preparation</h4>
            <p>
                We streamline raw data by removing inconsistencies and errors, ensuring that your datasets are accurate, reliable, and ready for in-depth analysis.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4" data-aos="fade-up" data-aos-delay="500">
        <div class="card shadow border-0 h-100 course-card">
          <div class="card-body py-5">
            <h3><i class="fas fa-cogs"></i></h3>
            <h4>Data Modeling and Forecasting</h4>
            <p>
                We design predictive models to analyze trends and forecast future outcomes, helping your business plan with confidence and accuracy..
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4" data-aos="fade-left" data-aos-delay="600">
        <div class="card shadow border-0 h-100 course-card">
          <div class="card-body py-5">
            <h3><i class="fas fa-cloud"></i></h3>
            <h4>Statistical Analysis</h4>
            <p>
                We apply advanced statistical techniques to draw conclusions from your data, helping you make informed decisions based on solid statistical evidence.


            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Call-to-Action Section -->
<section
  class="hero-section text-center bg-light py-5"
  data-aos="fade-up"
  data-aos-delay="400"
>
  <div class="container text-center overflow-hidden">
    <h2 class="section-title text-center">
      
        
Unlock the Power of Data Analysis
    </h2>
    <p class="lead text-muted mt-3">
        We focus on transforming your raw data into meaningful analysis, uncovering valuable insights that drive informed decisions and enhance your business strategies.
    </p>
    <a
      href="#"
      class="btn btn-secondary btn-lg mt-3 rounded-pill"
      data-aos="fade-up"
      data-aos-delay="500"
      >Get Started</a
    >
  </div>
</section>

</main>

  

{%endblock%}