{% extends 'base.html' %}


{% block content %}

    <!-- Main Content Block -->
    <main class="container my-5">
<section
  class="hero-section text-center text-white bg-light py-5"
  data-aos="fade-right"
  data-aos-delay="400"
>
  <div class="container overflow-hidden">
    <h1 class="display-4 fw-bold">Data Analytics</h1>
    <p class="lead text-muted mt-3">
        Transform your decision-making process with a comprehensive approach to data analytics, combining advanced data processing, insightful visualizations, and actionable business intelligence.
    </p>
    <a
      href="#"
      class="btn btn-secondary btn-lg mt-3 rounded-pill"
      >Get Started</a
    >
  </div>
</section>

<!-- Service Details -->
<section class="py-5" data-aos="fade-up" data-aos-delay="500">
  <div class="container overflow-hidden">
    <div class="row">
      <div class="col-md-6">
        <h2 class="section-title text-center">What We Offer</h2>
        <p
          class="lead text-muted mx-auto mb-5"
          style="max-width: 700px"
          data-aos="fade-right"
          data-aos-delay="600"
        >
        We offer comprehensive data analytics services, from extracting and processing data to delivering actionable insights through advanced visualizations. Our team collaborates with you to uncover valuable trends and patterns with an integrated approach that includes data engineering, analysis, and interpretation. Whether you need exploratory analysis, predictive modeling, or custom dashboards, we’re here to help your business thrive with data-driven strategies
        </p>
        <p
          class="lead text-muted mx-auto mb-5"
          style="max-width: 700px"
          data-aos="fade-right"
          data-aos-delay="700"
        >
        Our data analytics solutions are designed to be intuitive, secure, and scalable, ensuring your data-driven strategies evolve seamlessly with your business growth and objectives.
        </p>
      </div>
      <div class="col-md-6">
        <img
          src="/static/img/webdev-1.png"
          alt="Web Development"
          class="img-fluid rounded shadow"
          data-aos="fade-left"
          data-aos-delay="600"
        />
      </div>
    </div>
  </div>
</section>

<!-- Features/Benefits Section -->
<section class="py-5">
  <div class="container overflow-hidden">
    <div class="row text-center">
      <div class="col-md-4 mb-4" data-aos="fade-right" data-aos-delay="400">
        <div class="card shadow border-0 h-100 course-card">
          <div class="card-body py-5">
            <h3><i class="fas fa-laptop-code"></i></h3>
            <h4>Scalable Data Visualizations</h4>
            <p>
                We create scalable, dynamic data visualizations that adapt seamlessly to various platforms, ensuring clear and impactful insights are accessible across all devices and user interfaces.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4" data-aos="fade-up" data-aos-delay="500">
        <div class="card shadow border-0 h-100 course-card">
          <div class="card-body py-5">
            <h3><i class="fas fa-cogs"></i></h3>
            <h4>Advanced Data Insights</h4>
            <p>
                From data collection to predictive modeling, we specialize in delivering advanced data insights that drive informed decisions and optimize business performance.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4" data-aos="fade-left" data-aos-delay="600">
        <div class="card shadow border-0 h-100 course-card">
          <div class="card-body py-5">
            <h3><i class="fas fa-cloud"></i></h3>
            <h4>Predictive Analytics Solutions</h4>
            <p>
                From data analysis to forecasting, we specialize in developing predictive analytics solutions that help businesses anticipate trends and make proactive, data-driven decisio


            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Call-to-Action Section -->
<section
  class="hero-section text-center bg-light py-5"
  data-aos="fade-up"
  data-aos-delay="400"
>
  <div class="container text-center overflow-hidden">
    <h2 class="section-title text-center">
      
    Ready to Unlock Powerful Data Insights?
    </h2>
    <p class="lead text-muted mt-3">
        Our team is ready to help you unlock powerful data insights and develop analytics solutions that drive growth and optimize your business strategies.
    </p>
    <a
      href="#"
      class="btn btn-secondary btn-lg mt-3 rounded-pill"
      data-aos="fade-up"
      data-aos-delay="500"
      >Get Started</a
    >
  </div>
</section>

</main>

  

{%endblock%}