{% extends 'base.html' %}


{% block content %}

    <!-- Main Content Block -->
    <main class="container my-5">
<section
  class="hero-section text-center text-white bg-light py-5"
  data-aos="fade-right"
  data-aos-delay="400"
>
  <div class="container overflow-hidden">
    <h1 class="display-4 fw-bold">Economic Analysis</h1>
    <p class="lead text-muted mt-3">
        Boost your economic analysis by leveraging data visualization, turning intricate economic data into clear, engaging visuals that reveal trends, identify patterns, and deliver actionable insights for smarter decision-making.
    </p>
    <a
      href="#"
      class="btn btn-secondary btn-lg mt-3 rounded-pill"
      >Get Started</a
    >
  </div>
</section>

<!-- Service Details -->
<section class="py-5" data-aos="fade-up" data-aos-delay="500">
  <div class="container overflow-hidden">
    <div class="row">
      <div class="col-md-6">
        <h2 class="section-title text-center">What We Offer</h2>
        <p
          class="lead text-muted mx-auto mb-5"
          style="max-width: 700px"
          data-aos="fade-right"
          data-aos-delay="600"
        >
        We offer advanced economic analysis through data visualization, transforming complex economic data into clear and actionable insights. By partnering with you, we highlight key trends and patterns, utilizing a holistic approach that combines design, data interpretation, and storytelling. From interactive dashboards to insightful reports, our goal is to deliver impactful visualizations that drive informed decision-making and support business success.
        </p>
        <p
          class="lead text-muted mx-auto mb-5"
          style="max-width: 700px"
          data-aos="fade-right"
          data-aos-delay="700"
        >
        Economic analysis solutions are designed to be intuitive, robust, and scalable, ensuring that data insights evolve with the business and empower data-driven decision-making.
        </p>
      </div>
      <div class="col-md-6">
        <img
          src="/static/img/webdev-1.png"
          alt="Web Development"
          class="img-fluid rounded shadow"
          data-aos="fade-left"
          data-aos-delay="600"
        />
      </div>
    </div>
  </div>
</section>

<!-- Features/Benefits Section -->
<section class="py-5">
  <div class="container overflow-hidden">
    <div class="row text-center">
      <div class="col-md-4 mb-4" data-aos="fade-right" data-aos-delay="400">
        <div class="card shadow border-0 h-100 course-card">
          <div class="card-body py-5">
            <h3><i class="fas fa-laptop-code"></i></h3>
            <h4>Cost-Benefit Analysis</h4>
            <p>
                Evaluating the financial feasibility of projects and initiatives to inform business decisions.
Cost-benefit analysis compares the costs and benefits of different projects, helping businesses make informed decisions by prioritizing the most financially viable options.e.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4" data-aos="fade-up" data-aos-delay="500">
        <div class="card shadow border-0 h-100 course-card">
          <div class="card-body py-5">
            <h3><i class="fas fa-cogs"></i></h3>
            <h4>Macroeconomic Modeling</h4>
            <p>
                Analyzing broader economic indicators like inflation, unemployment, and GDP to predict national economic performance.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4" data-aos="fade-left" data-aos-delay="600">
        <div class="card shadow border-0 h-100 course-card">
          <div class="card-body py-5">
            <h3><i class="fas fa-cloud"></i></h3>
            <h4>Supply and Demand Analysis</h4>
            <p>
                Examining market dynamics to understand pricing, production, and consumption patterns.
Supply and demand analysis looks at how shifts in supply and demand impact prices and production, guiding businesses in optimizing production, pricing, and inventory management


            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Call-to-Action Section -->
<section
  class="hero-section text-center bg-light py-5"
  data-aos="fade-up"
  data-aos-delay="400"
>
  <div class="container text-center overflow-hidden">
    <h2 class="section-title text-center">
      
        Harness the Potential of Economic Analysis
    </h2>
    <p class="lead text-muted mt-3">
        We specialize in converting economic data into impactful visualizations that deliver valuable insights and enhance your decision-making processes.
    </p>
    <a
      href="#"
      class="btn btn-secondary btn-lg mt-3 rounded-pill"
      data-aos="fade-up"
      data-aos-delay="500"
      >Get Started</a
    >
  </div>
</section>

</main>

  

{%endblock%}